<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/posts.css' />
    <link rel='stylesheet' href='/stylesheets/postForm.css' />
    <link rel='stylesheet' href='/stylesheets/teachers.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <script>
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
      }
      
      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }
    </script>

    <div class="w3-sidebar w3-bar-block w3-border-right menu-design" style="display:none" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large close-icon" id="menu-itens">
        <p>Fechar</p>
        <span class="material-symbols-outlined">close</span>
      </button>
      <a href="#" class="w3-bar-item w3-button" id="menu-itens">Posts</a>
      <a href="#" class="w3-bar-item w3-button" id="menu-itens">Criar Post</a>
      <a href="#" class="w3-bar-item w3-button" id="menu-itens">Professores</a>
    </div>

    <div class="blog-header">
      <span class="material-symbols-outlined menu-icon" onclick="w3_open()">
        menu
      </span>
      <p class="blog-title">Blog Tech Challenge - Grupo 37</p>
    </div>