<%- include('index') %>

    <div class="blog-title-div">
      <p class="page-title">Criar Post</p>
      <!-- Criar condicional de acordo com o método -->
      <!-- <p class="page-title">Editar Post</p> -->
      <p class="action-button">Voltar</p>
    </div>

    <div class="blog-content">
      <div class="post-box">
        <div class="input-group">
          <input required="" type="text" name="text" autocomplete="off" class="input">
          <label class="field-label">Título</label>
        </div>
        <div class="input-group">
          <input required="" type="text" name="text" autocomplete="off" class="input">
          <label class="field-label">Professor</label>
        </div>
        <div class="input-group">
          <input required="" type="text" name="text" autocomplete="off" class="input">
          <label class="field-label">Conteúdo</label>
        </div>
        <p class="create-button">Criar</p>
        <!-- Criar condicional de acordo com o método -->
        <!-- <p class="create-button">Salvar</p> -->
      </div>
    </div>
  </body>
</html>