<%- include('index') %>

    <div class="blog-title-div">
      <p class="page-title">Criar Professor</p>
      <!-- <p class="page-title">Editar Professor</p> -->
      <p class="action-button">Voltar</p>
    </div>

    <div class="blog-content">
      <div class="post-box">
        <div class="input-group">
          <input required="" type="text" name="text" autocomplete="off" class="input">
          <label class="field-label">Nome</label>
        </div>
        <p class="create-button">Criar</p>
      </div>
    </div>
  </body>
</html>