<%- include('index') %>

    <div class="blog-title-div">
      <p class="page-title">Professores</p>
      <a class="action-button" style="width: 205px;" href="/teacherForm">Cadastrar Professores</a>
      <p class="action-button">Voltar</p>
    </div>

    <div class="blog-content">
      <div class="post-box">
      	<p class="teacher-header">Nome</p>
				<hr class="line-style"/>
        <% teachers.forEach(function(teacher) { %>
          <div class="div-display">
            <p class="teacher-name"><%= teacher.name %></p>
            <a class="teacher-button blue-button" href="/teacherForm">Editar</a>
            <a class="teacher-button red-button" href="/teacherForm">Excluir</a>
          </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>