body {
  margin: 0;
  background-color: #ebebeb;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.menu-icon {
  padding: 23px 25px;
  cursor: pointer;
}

.close-icon {
  background-color: #f6f6f6;
  cursor: pointer;
  display: flex !important;
  justify-content: space-between;
}

#menu-itens:hover {
  background-color: #f1f1f1 !important;
}

.menu-design {
  background-color: #f6f6f6 !important;
  padding: 15px;
}

.blog-header {
  display: flex;
  margin: 0;
  height: 70px;
  background-color: #f6f6f6;
}

.blog-title {
  font-size: 18px;
  font-weight: bold;
  font-family: arial;
  padding: 25px 15px 15px 15px;
}

.blog-title-div {
  padding: 20px 130px;
  display: ruby-text;
}

.page-title {
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  width: 50%;
}

.action-button {
  font-size: 17px;
  font-weight: bold;
  font-family: arial;
  width: 164px;
  border-radius: 10px;
  background-color: #2e63a1;
  text-align: center;
  padding: 9px;
  color: white;
  margin-top: 3px;
  cursor: pointer;
  transition: 0.7s;
  display: block;
  text-decoration: none;
}

.action-button:hover {
  background-color: #002ead;
}

.blog-content {
  padding: 20px 130px;
  font-family: arial;
}

.post-box {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 15px;
  display: flow-root;
  border: 1px;
  box-shadow: 2px 2px #cccccc;
  margin-bottom: 25px;
}

.blue-button:hover {
  background-color: #002ead;
}

.red-button {
	background-color: #d83d46;
}

.red-button:hover {
  background-color: #ff000d;
}