name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_DATABASE: ${{ secrets.DB_DATABASE }}
      DB_PORT: ${{ secrets.DB_PORT }}
      
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
  
    # - name: Fix Jest permissions
    #   run: chmod +x node_modules/.bin/jest
 
    # - name: Run tests
    #   run: npm run test
 
    - name: Build and Push Docker Image
      run: |
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        docker build --build-arg DB_USER=${{ secrets.DB_USER }} \
                     --build-arg DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
                     --build-arg DB_DATABASE=${{ secrets.DB_DATABASE }} \
                     --build-arg DB_PORT=${{ secrets.DB_PORT }} \
                     -t $DOCKER_USERNAME/fiap-tech-challenge-2fase:latest -f Dockerfile.prd .
        docker push $DOCKER_USERNAME/fiap-tech-challenge-2fase:latest
